body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
}
a {
  color: #00B7FF;
}

.nav-wrapper {
  margin-right: 20px;
  width: 20px;
}

.page-header {
  margin: 0;
  margin-bottom: 12px;
}

.well {
  max-height: 100px;
  margin-right: 15px;
}
.list-column {
  border-right: 2px solid #ddd;
  height: 80vh;
}
.scrolling-div {
  overflow: scroll;
  display: inline-block;
}
/*.panel {
  width: 100%;
}*/

.create-item-btn {
  /*position: absolute;*/
  width: 60px;
  height: 45px;
  opacity: 0.7;
  background: #808B96;
  color: #34495E;
  font-family: Sans-serif;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;

  border: 2;
  transition: all 0.3s ease 0s;
}
.create-item-btn:hover {
  opacity: 1;
  color: #EBEDEF;
  background-color: #34495E !important;
}
