.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  cursor: pointer;
}
ul {
  list-style: none;
}
small {
  font-size: 10px;
  margin-left: 20px;
  font-weight: lighter;
  font-style: italic;
}

.main-wrapper {
  height: 100vh;
  border-right: 2px solid #34495E;
  padding: 0;
}
.login-wrapper {
  margin-top: 200px;
}
.login-panel {
  height: 260px;
  margin-top: 50px;
}
input[type="email"]#login-email {
  background-color: rgba(255, 255, 255, 0.5);
}
input[type="password"]#login-password {
  background-color: rgba(255, 255, 255, 0.5);
}
input[type="email"]#signup-email {
  background-color: rgba(255, 255, 255, 0.5);
}
input[type="password"]#signup-password {
  background-color: rgba(255, 255, 255, 0.5);
}
img.login-logo {
  margin-top: 20px;
}

.header-row {
  height: 70px;
  margin-top: 11px;
  margin-bottom: 0px;
}
img#header-logo {
  position: absolute;
  right: 0;
  top: 0;
  z-index:1;
  width: 200px;
  height: 150px;
}
#header-text {
  font-size: 30px;
  margin-top: 10px;
}

.nav-wrapper {
  background-color: #213D5A !important;
  margin-right: 0;
  width: 50px;
  height: 100vh;
}
a.create-item-btn {
  text-decoration: none;
}

i.fa {
  font-size: 38px;
  margin-top: 5px;
}
.nav-spacer-xs {
  height: 25px;
}
.nav-spacer-md {
  height: 100px;
}
.nav-link {
  cursor: pointer;
  color: #7692A2;
  border: 2px solid #34495E;
  height: 50px;
  width: 100%;
  transition: all 0.3s ease 0s;
}
.nav-link:hover {
  border: 2px solid #86D3FF;
  color: #86D3FF;
  background-color: #34495E !important;
}
.nav-link + .tooltip > .tooltip-inner {
  width: 100px;
  background-color: #34495E;
}
.nav-link + .tooltip > .tooltip-arrow {
  border-right-color: #34495E;
}

.page-header {
  margin: 0;
  margin-bottom: 12px;
}

span#sort-sm {
  margin-top: -40px;
  transition: all 0.3s ease 0s;
}
span#sort-sm:hover {
  color: #86D3FF
}
.list-column-header {
  height: 81px;
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: -10px
}
.filter-form {
  width: 100%;
  margin-left: -10px;
}
.list-div {
  height: 100px;
  margin: 0;
  opacity: 0.7;
  border: .5px solid #86D3FF;
  background-color: #BCE6FF;
  border-left: none;
  border-right: none;
}
.list-div:hover {
  cursor: pointer;
  opacity: 1;
  background-color: #86D3FF;
  transition: all 0.3s ease 0s;
}
.list-div-content {
  padding: 10px
}
.list-div-header {
  border-bottom: 2px solid #86D3FF;
  margin-left: 10px;
  width: 70%;
}
.list-div-header:hover {
  border-bottom: 2px solid #86D3FF;
}
.all-items-table-row:hover {
  background-color: #86D3FF;
  transition: all 0.3s ease 0s;
}

.list-column {
  height: 89vh;
}
.list-wrapper {
  height: 100vh;
}
img.img-thumbnail {
  width: 100px;
  height: 80px;
  margin-top: 8px;
}
.scrolling-div {
  overflow: scroll;
  display: inline-block;
  border: 1px solid #ddd;
  margin-left: -15px;
}
a.create-item-btn {
  text-decoration: none;
}
.create-item-btn {
  cursor: pointer;
  margin-left: 13px;
  margin-bottom: 5px;
  margin-top: -10px;
  border: 2px solid #ddd;
  width: 73px;
  height: 73px;
  opacity: 0.7;
  background: #808B96;
  font-family: Sans-serif;
  font-size: 55px;
  font-weight: bolder;
  transition: all 0.3s ease 0s;
}
.create-item-btn:hover {
  opacity: 1;
  border: 2px solid #86D3FF;
  color: #86D3FF;
  background-color: #34495E !important;
}
.create-item-btn:active {
  border: 3px solid #86D3FF;
}
.create-item-btn + .tooltip > .tooltip-inner {
  background-color: #34495E;
}
.create-item-btn + .tooltip > .tooltip-arrow {
  border-right-color: #34495E;
}
.main-content {
  height: 89vh;
  overflow: scroll;
  display: inline-block;
  border-left: none;
  width: 100%;
}
.show-panel-group {
  width: 100%;
}

span.table-message {
  height: 25px;
}

.item {
  overflow: scroll;
  display: inline-block;
    cursor: pointer;
    height: 200px;
    width: 200px;
}
ul.hide-bullets > li {
    display: inline-block;
}

.panel > .panel-heading {
    background-image: none;
    background-color: #213D5A;
    color: white;
    height: 50px;
}
.panel-heading-text {
  font-size: 22px;
}
.photos {
  height: 40vh;
}
img#image-small {
  max-height: 60px;
  border: 2px solid #ddd;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
img#image-small:hover {
  border: 2px solid #86D3FF;
  cursor: pointer;
  opacity: 1;
}
.add-img-btn {
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 5px;
  height: 55px;
  width: 55px;
  margin-top: 3px;
  margin-left: 5px;
  opacity: 0.7;
  font-size: 45px;
  transition: all 0.3s ease 0s;
}
.add-img-btn:hover {
  opacity: 1;
  border: 2px solid #86D3FF;
  border-radius: 5px;
  color: #86D3FF;
}
i#file-icon {
  position: absolute;
  margin-left: -6px;
}
img#add-image-small {
  position: relative;
  max-height: 60px;
  border: 2px solid #ddd;
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
img#add-image-small:hover {
  border: 2px solid #86D3FF;
  cursor: pointer;
  opacity: 1;
}

img#file-preview {
  height: 150px;
  width: 200px;
  border: none;
}

img#image-large {
  max-height: 225px;
  border: 2px solid #ddd;
}
.thumbnail.add-image-form {
  height: 205px;
  width: 335px;
  border: 1px dashed #ddd;
}
ul.img-list-group {
  padding-left: 0;
}
ul.img-list-group:after {
  clear: both;
  display: block;
  content: "";
}

.img-list-group-item {
    float: left;
    margin-top: 2px;
}

.details-column {
  padding-left: 0px;
}
blockquote {
  border: 1px solid white;
  margin-top: -15px;
  transition: all 0.3s ease 0s;
}
blockquote:hover {
  border: 1px solid #86D3FF;
}
blockquote.detail-name {
  margin-top: 0px;
}
blockquote #detail-name {
  margin: 0px !important;
}
blockquote #detail-category-title {
  margin: 0px !important;
}
blockquote #detail-descr-title {
  margin-top: 0px !important;
}
blockquote #detail-condition-title {
  margin-top: 0px !important;
}


i.fa.fa-clipboard {
  cursor: pointer;
  opacity: 0;
  position: absolute;
    right: 20px;
  margin-top: -5px;
  font-size: 24px;
  transition: all 0.3s ease 0s;
}
.detail-name-block:hover .fa-clipboard{
  opacity: 1;
}
.detail-category-block:hover .fa-clipboard{
  opacity: 1;
}
.detail-descr-block:hover .fa-clipboard{
  opacity: 1;
}
i.fa.fa-clipboard:hover {
  color: #86D3FF;
  transition: none;
}

@media (max-width: 1200px) {
  .list-column-header {
    height: 69px;
    margin-top: 10px;
    margin-bottom: 2px;
    border-right: 1px solid #ddd;
  }
  .filter-form {
    width: 100%;
    margin-left: -10px;
  }
  span#sort-sm {
    margin-bottom: 10px;
  }
  a.dropdown-toggle {
    width: 15px !important;
  }
  a.dropdown-toggle:hover {
    background-color: white !important;
  }
  li.dropdown:hover {
    background-color: white !important;
  }
  li.active {
  }

  .list-div {
    height: 90px;
    margin: 0;
    opacity: 0.7;
    border: .5px solid #86D3FF;
    background-color: #BCE6FF;
    border-left: none;
    border-right: none;
  }
  .list-div-content h4 {
    font-size: 15px;
  }
  .list-div-content small{
    visibility: hidden;
  }
  .list-div-content {
    padding: 0;
  }
  img.list-div-img.img-thumbnail {
    width: 70px !important;
    height: 70px;
    padding-top: -10px;
    margin-left: -10px;
    padding: 2px;

  }
  h4.list-header {
    border-bottom: 2px solid #86D3FF;
    margin-left: 10px;
    width: 80%;
  }
}
.custom-file-upload {
  cursor: pointer;
  margin-top: 19px;
}
input[type="file"] {
    display: none;
}
img#file-preview.img-responsive {
  background: none;
  border-style: dashed !important;
  background-image: url('../assets/200x150.png') !important;
}
.img-url-form {
  height: 40px;
}
input[type="text"].img-url-input {
  position: absolute;
  width: 334px;
  font-size:13px;
  font-style: italic;
}
.login-heading {
  font-size: 21px;
}
.signin-btn {
  cursor: pointer;
  border: 2px solid #34495E;
  border-radius: 5px;
  background: none;
  height: 40px;
  width: 195px;
  font-size: 22px;
  font-family: inherit;
  transition: all 0.3s ease 0s;
}
button.signin-btn:hover {
  border: 3px solid #86D3FF;
  border-radius: 5px;
  color: #86D3FF;
}
.remember-checkbox label {
  font-size: 12px;
}
.new-questionmark {
  margin-right: 5px;
}
h1.sim-login-header-text {

}
i.fa-th-list {
  color: #A4D6FA;
  text-shadow: -1px 0 #1C4461, 0 1px #1C4461, 1px 0 #1C4461, 0 -1px #1C4461;
}
i.fa-search {
  color: #A4D6FA;
  text-shadow: -1px 0 #1C4461, 0 1px #1C4461, 1px 0 #1C4461, 0 -1px #1C4461;
}
i.fa-th-list:hover {
  text-shadow: -1px 0 #1C4461, 0 1px #1C4461, 1px 0 #1C4461, 0 -1px #1C4461;
}
i.fa-search:hover {
  text-shadow: -1px 0 #1C4461, 0 1px #1C4461, 1px 0 #1C4461, 0 -1px #1C4461;
}
img.profile-account-link {
  padding: 0;
  border: 2px solid #34495E !important;
}
hr#nav-divide-line {
  color: #A4D6FA;
}

i.fa-usd {
  height: 20px;
}
