body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.well {
  max-height: 100px;
  margin-right: 15px;
}
.list-column {
  border-right: 2px solid #ddd;
  height: 80vh;
}
.scrolling-div {
  overflow: scroll;
}
.panel {
  width: 100%;
}
