<div class="row list-column-header">
  <ul class="nav nav-pills">
    <li role="presentation" class="active">
      <input type="search" class="form-control input-sm search-form" placeholder="Filter" ng-model="search">
    </li>
  <li class="dropdown pull-right" ng-init="sort='Name'; sortName='sortBy'">
    <a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"
      role="button"
      aria-haspopup="true"
      aria-expanded="false">Sort By<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a ng-click="sort='name'; sortName='Name'">Name</a></li>
        <li><a ng-click="sort='category'; sortName='Category';">Category</a></li>
        <li><a ng-click="sort='created_at'; sortName='Date';">Date</a></li>
      </ul>
  </li>
</ul>
</div>
<div class="row scrolling-div list-column">
  <div ng-repeat="item in $ctrl.items | filter:search | orderBy:sort" class="list-div row" ng-click="$ctrl.showItem(item.item_id)">
    <div class="col-md-7 list-div-content">
      <h4 class="list-header">
        {{item.name}}
      </h4>
      <small>
        {{item.description}}
      </small>
    </div>
    <div class="col-md-5">
      <img ng-src="{{item.cover_url}}" class="img-thumbnail">
      <!-- <img src="http://lorempixel.com/100/80" class="media-object img-thumbnail" /> -->
    </div>
  </div>
</div>
