<div class="panel panel-default">
  <div class="panel-heading">
    All Items
    <small>*From ALL users. Only deletes from items table</small>
  </div>
  <!-- /.panel-heading -->
  <div class="col-md-1 pull-right">
    <!-- <i class="fa fa-th pull-right"></i> -->
  </div>
  <div class="panel-body">
    <div ng-repeat="item in $ctrl.items" class="all-items-thumbnails col-md-2">
      <img ng-click="$ctrl.showItem(item.id)" ng-src="{{item.cover_url}}" id="all-items-img" class="img-thumbnail img-thumbnails">
    </div>
  </div>

  <div class="panel-body">
    <div class="table-responsive">
      <table class="table all-items-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Item Name</th>
            <th>Edit</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in $ctrl.items" class="default all-items-table-row">
            <td>{{item.id}}</td>
            <td><a ng-click="$ctrl.showItem(item.id)">{{item.name}}</a></td>
            <td><a><span class="glyphicon glyphicon-pencil col-xs-push-1" aria-hidden="true"></span></a></td>
            <td><a ng-click="$ctrl.deleteItem(item.id)"><span class="glyphicon glyphicon-remove col-xs-push-1" aria-hidden="true"></span></a></td>
          </tr>
        </tbody>
      </table>
      <div ng-show="$ctrl.showingDelete" class="alert alert-warning table-message">
        <p>{{$ctrl.deleteMsg}}</p>
      </div>
    </div>
    <!-- /.table-responsive -->
  </div>
  <!-- /.panel-body -->
</div>
<!-- /.panel -->
</div>
<!-- /.col-lg-6 -->
