
<div class="panel panel-default">
  <div class="panel-heading">
    Add Item Form
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-lg-8">
        <form name="form" novalidate ng-submit="$ctrl.createItem()">
          <div ng-class="{'form-group': true, 'has-error': form.category_id.$invalid && form.category_id.$touched }">
            <label for="category_id">Category</label>
            <input class="form-control" name="category_id" required ng-model="$ctrl.item.category_id">
          </div>
          <div ng-class="{'form-group': true, 'has-error': form.name.$invalid && form.name.$touched }">
            <label for="name">Name</label>
            <input class="form-control" name="name" required ng-model="$ctrl.item.name">
          </div>
          <div ng-class="{'form-group': true, 'has-error': form.description.$invalid && form.description.$touched }">
            <label>Description</label>
            <textarea class="form-control" name="description" required ng-model="$ctrl.item.description"></textarea>
          </div>
          <div ng-class="{'form-group': true, 'has-error': form.condition.$invalid && form.condition.$touched }">
            <label>Condition</label>
            <input class="form-control" name="condition" required ng-model="$ctrl.item.condition">
          </div>
          <div ng-class="{'form-group': true, 'has-error': form.cost.$invalid && form.cost.$touched }">
            <label>Cost</label>
            <input class="form-control" name="cost" required ng-model="$ctrl.item.cost">
          </div>
          <div ng-class="{'form-group': true, 'has-error': form.listed_price.$invalid && form.listed_price.$touched }">
            <label>Listed Price</label>
            <input class="form-control" name="listed_price" required ng-model="$ctrl.item.listed_price">
          </div>
          <div ng-class="{'form-group': true, 'has-error': form.sold_price.$invalid && form.sold_price.$touched }">
            <label>Sold Price</label>
            <input class="form-control" name="sold_price" required ng-model="$ctrl.item.sold_price">
          </div>
          <div ng-class="{'form-group': true, 'has-error': form.user_id.$invalid && form.user_id.$touched }">
            <label>User ID</label>
            <input class="form-control" name="user_id" required ng-model="$ctrl.item.user_id">
          </div>
          <!-- <div ng-class="{'form-group': true, 'has-error': form.image_url.$invalid && form.image_url.$touched }">
          <label>Image URL</label>
          <input class="form-control" name="image_url" required ng-model="$ctrl.item.image_url">
        </div> -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">
            Create Item
          </button>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="form-group">
          <label>Category</label>
          <select class="form-control">
            <option>Furniture</option>
            <option>Electronics</option>
            <option>Bathroom</option>
            <option>Sports</option>
            <option>Weapons</option>
            <option>Food</option>
            <option>Services</option>
          </select>
        </div>
      </div>



    </form>
  </div>
</div>
</div>
