
<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        {{$ctrl.item.name}}
        {{$ctrl.item.description}}
        {{$ctrl.item.condition}}
        {{$ctrl.item.cost}}
        {{$ctrl.item.listed_price}}
        {{$ctrl.item.sold_price}}
        {{$ctrl.item.user_id}}
        {{$ctrl.item.category}}
      </div>
    </div>
        <br>

          <label>Where have you posted this?</label>
          <div class="funkyradio">
            <div ng-repeat="location in $ctrl.isInlocations" class="funkyradio-primary">
            <input type="checkbox" name="checkbox" checked  id="checkbox{{location.id}}"/>
            <label for="checkbox{{location.id}}">{{location.name}}</label>
            </div>
            <div ng-repeat="location in $ctrl.isNotlocations" class="funkyradio-primary">
            <input type="checkbox" name="checkbox"  id="checkbox{{location.id}}"/>
            <label for="checkbox{{location.id}}">{{location.name}}</label>
            </div>
          </div>

          <br>
          <br>

          <div class="image-small" ng-repeat="img_url in $ctrl.imgArr">
            <a ng-click="$ctrl.enlargeImage(img_url)" class="thumbnail" id="{{$ctrl.imgArr.indexOf(img_url)}}">
              <img class="img-responsive" src="{{img_url}}">
            </a>
          </div>
          <div class="image-large">
            <img class="img-responsive" ng-src="{{$ctrl.largeImage}}">
          </div>
</div>









  <!-- <div class="panel-body">
    <div class="row">
      <div class="col-md-2">

      </div>
      <div class="col-md-3">
        <div class="carousel slide" data-interval="1000">
          <div class="carousel-inner">
            <div ng-repeat="img_url in $ctrl.imgArr" class="active item" data-slide-number="{{$ctrl.imgArr.indexOf(img_url)}}">
              <img src="{{img_url}}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
