
<div class="panel-group show-panel-group">

  <div class="panel panel-default">
    <div id="show-panel-heading" class="panel-heading">
      <div class="container-fluid panel-container">
        <div class="col-xs-5 text-center">
          <h5 class="panel-heading-text">Photos</h5>
        </div>
        <div class="col-xs-7 text-center">
          <h5 class="panel-heading-text">Item Details</h5>
        </div>
      </div>
    </div>
    <div class="panel-body container-fluid">


      <div class="row">
        <div class="col-md-6 ">

          <div class="switch-container">

            <!-- Large Image -->
            <img ng-hide="$ctrl.addingImage" id="image-large" class="img-responsive img-rounded" ng-src="{{$ctrl.largeImage}}">

            <!-- Image Add Form -->
            <div ng-show="$ctrl.addingImage" class="thumbnail add-image-form">
              <div class="container-fluid">
                <div class="row">
                  <div class="col-md-1">
                  </div>
                  <div class="col-md-10">
                    <input id="file-upload" type="file" fileinput="file" filepreview="filepreview"/>
                    <label for="file-upload" class="custom-file-upload">
                      <img id="file-preview" ng-src="{{filepreview}}" class="img-responsive" />
                      <a ng-click="$ctrl.enterUrl()" class="pull-right">or by URL</a>
                    </label>
                  </div>

                </div>
              </div>
            </div>



            <ul class="img-list-group">
              <li ng-repeat="img_url in $ctrl.imgArr" class="img-list-group-item" type="button">
                <a ng-click="$ctrl.enlargeImage(img_url)" class="image-small" id="{{$ctrl.imgArr.indexOf(img_url)}}">
                  <img id="image-small" class="img-rounded" alt="Cinque Terre" max-width="60" max-height="60" src="{{img_url}}">
                </a>
              </li>
              <li class="img-list-group-item" type="button">
                <a class="col-lg-2 add-img-btn" data-placement="right"
                title="Add an image"
                onmouseenter="$(this).tooltip('show')" ng-click="$ctrl.toggleAddImageForm()">
                <i id="file-icon" class="fa fa-file-image-o"></i>
              </a>
            </li>
            <li ng-show="$ctrl.enteringUrl">
              <form class="img-url-form">
                <input type="text" class="form-control img-url-input" name="img_url" placeholder="example: https://via.placeholder.com/300x200">
              </form>
            </li>
          </ul>
        </div>
      </div>

      <!-- Item Details Column -->
    <div class="col-md-6 details-column">
      <div class=" card card-outline-default text-left">
        <div class="card-block">
          <blockquote class="card-blockquote detail-name detail-name-block text-center">
            <i class="fa fa-clipboard" aria-hidden="true" ngclipboard data-clipboard-target="#detail-name" data-placement="left"
            title="Copy" tooltip-trigger="click"
            onmouseenter="$(this).tooltip('show')"></i>
            <h3 id="detail-name"><strong>{{$ctrl.item.name}}</strong></h3>
          </blockquote>
          <blockquote class="card-blockquote detail-category-block">
            <i class="fa fa-clipboard" aria-hidden="true" ngclipboard data-clipboard-target="#detail-category" data-placement="left"
            title="Copy" tooltip-trigger="click"
            onmouseenter="$(this).tooltip('show')"></i>
            <h5 id="detail-category-title"><strong>Category:&nbsp;</strong> <span id="detail-category">{{$ctrl.item.category}}</span></h5>
          </blockquote>
          <blockquote class="card-blockquote detail-condition-block">
            <i class="fa fa-clipboard" aria-hidden="true" ngclipboard data-clipboard-target="#detail-condition" data-placement="left"
            title="Copy" tooltip-trigger="click"
            onmouseenter="$(this).tooltip('show')"></i>
            <h5 id="detail-condition-title"><strong>Condition:&nbsp;</strong> <span id="detail-condition">{{$ctrl.item.condition}}</span></h5>
          </blockquote>
          <blockquote class="card-blockquote detail-descr-block">
            <i class="fa fa-clipboard" aria-hidden="true" ngclipboard data-clipboard-target="#detail-descr" data-placement="left"
            title="Copy" tooltip-trigger="click"
            onmouseenter="$(this).tooltip('show')"></i>
            <h5 id="detail-descr-title"><strong>Description:</strong></h5>
            <h5><strong>&nbsp;</strong><span id="detail-descr">{{$ctrl.item.description}}</span></h5>
          </blockquote>
        </div>
      </div>

    </div>
  </div>

</div>

<div class="panel panel-default">
  <div id="show-panel-heading" class="panel-heading text-center">
    <h5 class="panel-heading-text">Listing Details</h5>
  </div>
  <div class="panel-body container-fluid">

    <div class="row">

      <div class="col-md-4">
        <label>Where have you listed this item?</label>
        <div class="funkyradio">
          <div ng-repeat="location in $ctrl.isInLocations" class="funkyradio-primary">
            <input type="checkbox" name="checkbox" checked  id="checkbox{{location.id}}"/>
            <label for="checkbox{{location.id}}">{{location.name}}</label>
          </div>
          <br>
          <small>*Locations not listed.</small>
          <div ng-repeat="location in $ctrl.isNotLocations" class="funkyradio-primary">
            <input type="checkbox" name="checkbox"  id="checkbox{{location.id}}"/>
            <label for="checkbox{{location.id}}">{{location.name}}</label>
          </div>
        </div>
      </div>

      <div class="col-md-2">

      </div>

        <div class="col-md-2 details-column">
          <div class=" card card-outline-default text-left">
            <div class="card-block">
              <blockquote class="card-blockquote detail-cost-block">
                <i class="fa fa-clipboard" aria-hidden="true" ngclipboard data-clipboard-target="#detail-category" data-placement="left"
                title="Copy" tooltip-trigger="click"
                onmouseenter="$(this).tooltip('show')"></i>
                <h5 id="detail-cost-title"><strong>Purchased for:&nbsp;</strong> <i class="fa fa-usd bling"></i><span id="detail-cost">{{$ctrl.item.cost}}</span></h5>
              </blockquote>
              <blockquote class="card-blockquote detail-sell-block">
                <i class="fa fa-clipboard" aria-hidden="true" ngclipboard data-clipboard-target="#detail-descr" data-placement="left"
                title="Copy" tooltip-trigger="click"
                onmouseenter="$(this).tooltip('show')"></i>
                <h5 id="detail-sell-title"><strong>Listed for:</strong></h5>
                <h5><strong>&nbsp;</strong><i class="fa fa-usd bling"></i><span id="detail-sell">{{$ctrl.item.listed_price}}</span></h5>
              </blockquote>
            </div>
          </div>



        <!-- {{$ctrl.item.sold_price}} -->
        <!-- {{$ctrl.item.user_id}} -->
      </div>

    </div>

  </div>
</div>
</div>
